:root {
    --primary-color: #07004D; 
    --secondary-color: #2D82B7;
    --accent-color1: #42E2B8;
    --accent-color2: #F3DFBF;
    --accent-color3: #EB8A90;
}

.about {
    margin-top: -70px;
    margin-bottom: -200px;
}

.about h1 {
    text-align: center;
    margin-top: 35px;
}

fieldset {
    border: transparent;
}

.forms legend {
    font-size: 1.8rem;
    font-weight: 500;
}

.about p{
    padding: 0 20px;
    padding-top: 50px;
}

.forms {
    margin: 60px;
    padding-left: 25px;
}

.forms label {
    display: block;
    padding-top: 28px;
    font-weight: 400;
}

.forms input {
    border: 2px solid rgba(142, 141, 141, 0.5);
    border-radius: 4px;
    height: 40px;
    width: 100%;
    max-width: 85%;
    display: block;
    padding-left: 13px;
    margin-top: 3px;
    background-color: #eeee;
    font-family: "Roboto", sans-serif;
}

.forms input:hover {
    background-color: rgb(216, 216, 216);
    transition: .6s ease;
}


.formParent {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    justify-content: center;
}



input[type="submit"] {
    font-weight: 400;
    font-size: larger;
    width: 100%;
    padding: .5rem;
    margin-top: 30px;
}

input[type="submit"]:hover {
    background-color: var(--accent-color3);
}

@media screen and (min-width: 1024px) {
    .formParent {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .forms {
        width: 50%;
    }

    .forms input {
        height: 39px;
        width: 100%;
    }
}