:root {
    --primary-color: #07004D; 
    --secondary-color: #2D82B7;
    --accent-color1: #42E2B8;
    --accent-color2: #F3DFBF;
    --accent-color3: #EB8A90;
    
    font-size: 16px;
    margin: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
    border: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;   
    background-color: #fdfdfd;
    margin: 0;
}

body main, body header {
    padding: 0  5px;

}





header, .main-center {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
}



hr {
    height: 3px;
    margin: 35px 0;
    background: var(--accent-color1);
}

.head-center, .main-center {
    text-align: center;
}

.head-center {
    background-color: var(--primary-color);
    color: white ;
    padding: 30px;
}

.overview, .sec, .siteplan, .scenario, 
.color-sch, .type, .wireframe{
    padding: 20px 2px;
}

.scenario ul {
    list-style: none;
}

.url {
    padding: 20px 0;
}




.table {
    margin: 0 auto;
}

.table thead, tbody {
    padding: 10px;
}

th, td {
    padding: 9px;
    text-align: center;
    height: 60px;
    width: 200px;
}

thead th {
    height: 1px;
    background-color: rgb(232, 232, 232);
}

tbody tr td:nth-child(1){
    color: white;
    background-color: var(--primary-color);
}
tbody tr td:nth-child(2) {
    background-color: var(--secondary-color);
}
tbody tr td:nth-child(3) {
    background-color: var(--accent-color1);
    color: black;
}
tbody tr td:nth-child(4) {
    background-color: var(--accent-color2);
}
tbody tr td:nth-child(5) {
    background-color: var(--accent-color3);
}







.normal-para, .other {
    margin-top: 40px;
}

.other {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 15px;
}

.mobile{
    margin-top: 100px;
    margin-bottom: 50px;

}

.desktop h3{
    padding: 20px 0;
}

.desktop img {
    width: 100%;
    height: 100%;
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 1rem;
    color: white;
}




@media screen and (max-width: 400px) {

    .table thead, tbody {
        padding: 1px;
    }
    
    th, td {
        padding: 1px;
        text-align: center;
        height: 60px;
    }

    .mobile {
        width: 100%;
    }

    .mobile img {
        width: 100%;
    }

    .foot-nav {
        font-size: .8rem;
    }
}