:root {
    --blue: rgb(37, 94, 138);
    --red: rgb(231, 10, 10);
  }
  
  * {
    margin: 0;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }

  header {
    background-color: var(--blue);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  h1 {
    padding: 1.6rem;
  }

  #menu {
    display: block;
    font-size: 2.5rem;
    background-color: var(--blue);
    text-decoration: none;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 1rem;
  }

  #menu::before {
    content: "≡";
  }


  nav {
    display: flex;
    flex-direction: column;
  }

  nav a {
    color: white;
    text-decoration: none;
    padding: 1rem 1.5rem;
    display: none;
    font-size: 2rem;
  }

  nav a:hover, nav a:active {
    color: var(--red);
    font-weight: 500;
  }



  nav.show {
    width: 100%;
  }

  h1.show {
    display: none;
  }

  .show a {
    display: block;
    text-align: center;
  }

  main {
    max-width: 900px;
    margin: 1.5rem auto;
    padding: 1rem;
  }

  section {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h3 {
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: .5rem;
  }

  section p {
    font-size: .8rem;
    text-align: center;
  }

  section img {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }

  h2 {
    color: var(--blue);
    text-align: center;
    margin-bottom: 1.5rem;
  }

  footer {
    background-color: var(--blue);
    color: white;
    text-align: center;
    padding: 10px;
  }

  .smaller {
    font-size: smaller;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
  }

  .label {
    font-weight: 400;
    font-size: smaller;
    font-variant: small-caps;
  }

  .navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 900px;
  }
  
  .navigation li {
    display: none;
  }
  .navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
    color: #EEEEEE;
  }

  @media screen and (min-width: 880px){
    h1.handler {
      display: block;
      width: 100%;
    }

    #menu {
      display: none;
    }

    nav {
      flex-direction: row;
      justify-content: flex-end;
    }

    nav a {
      display: block;
      font-size: 1.5rem;
    }
    
  }