:root {
    --blue: rgb(37, 94, 138);
    --red: rgb(231, 10, 10);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Roboto", sans-serif;
}

header, footer {
    color: white;
    background-color: var(--blue);
    text-align: center;
    padding: 1rem;
}

h1 {
    font-size: 1.6rem;
}

img {
    width: 100%;
    height: auto;
}

form {
    margin: 1rem auto;
    border: 1px solid var(--red);
    padding: 1rem;
    background-color: rgb(182, 182, 240);
    border-radius: 6px;
    max-width: 500px;
}

.item {
    margin-bottom: 1rem;
}

label, .item p {
    font-size: .85rem;
    font-weight: 500;
}

input[type="text"], input[type="checkbox"], input[type="date"], input[type="radio"], textarea, select {
    margin-top: .26rem;
    padding: .5rem;
    border: 1px solid var(--red);
    width: 100%;
}

input:focus {
    outline: 1px solid #999;
}

input[type="checkbox"], [type="radio"] {
    width: 25px;
    height: 25px;
}

input[type="submit"] {
    font-weight: 400;
    font-size: larger;
    width: 100%;
    padding: .5rem;
}

input[type="submit"]:hover {
    background-color: var(--red);
}

textarea {
    height: 6rem;
}

.radio-group {
    margin-top: .25rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.checkbox {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    width: max-content;
}

.checkbox label {
    margin-left: .5rem;
}

.smaller {
    font-size: .8rem;
    color: yellow;
}

@media (min-width: 600px) {
    h1 {
        font-size: 2rem;
    }
}