:root {
    --blue: rgb(37, 94, 138);
    --red: rgb(231, 10, 10);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: "Roboto", sans-serif;
    background-color: var(--blue);
}

header, footer {
    color: white;
    text-align: center;
    padding: 1.5rem;
}

h1 {
    font-size: 1.5rem;
}

aside {
    background-color: var(--red);
    padding: .6rem;
}

img {
    width: 100%;
    height: auto;
}

h2 {
    padding: 1rem;
}

.card {
    background-color: white;
}

.col-2 {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}

.label {
    font-weight: 500;
    font-size: .85rem;
    text-align: right;
}

.value {
    font-size: .9rem;
    text-align: left;
}

.info, .weather {
    text-align: center;
}

.weather svg {
    width: 100px;
    height: auto;
}