:root {
    --blue: rgb(37, 94, 138);
    --red: rgb(231, 10, 10);
}

@media (min-width: 600px) {
    h1 {
        font-size: 3rem;
    }

    main {
        position: relative;
    }

    .card {
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 2rem #000;
        opacity: 0.8;
    }

    .card h2, .svg {
        margin: .5rem -.5rem .5rem -.5rem;
        background-color: var(--blue);
        color: white;
        width: 90%;
        text-align: left;
    }

    .info {
        position: absolute;
        top: 2rem;
        left: 1rem;
    }

    .weather {
        position: absolute;
        bottom: 2rem;
        right: 1rem;
    }

    .weather h2::after {
        position: absolute;
        right: 3rem;
        top: 1.25rem;
    }

    #weather-icon {
        display: none;
    }
}