@media screen and (min-width: 500px) {
    h1.title {
        display: block;
        width: 100%;
    }

    #button {
        display: none;
    }

    nav {
        flex-direction: row;
        justify-content: flex-end;
    }

    nav a {
        display: block;
        font-size: 1.6rem;
    }
}