@media screen and (min-width: 500px) {
    .main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        padding: 0;
        display: block;
    }

    .grid img {
        text-align: center;
        width: 14rem;
    }

    .grid {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
    }

}